name: Testing project
on:
  push:
    branches:
      - main
jobs:
  TestAllProjects:
    runs-on: ubuntu-latest
    name: 'Test all projects'
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14.x'
      - name: Install dependencies
        run: yarn install --immutable
      - name: Lint codebase
        run: yarn lint
      - name: Build packages
        run: yarn build
      - name: Test packages
        run: yarn test
